* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

#form {
  width: 70%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  margin-top: 30px;
  padding: 10px 50px 0px 50px;
}

.input-group {
  padding-top: 20px;
}

input {
  margin-bottom: 25px;
}

.input-group-prepend div input,
.input-group-prepend div label {
  display: block;
}

.input-group-prepend div {
  height: 50px;
}
